In [9]:
import pandas as pd

url = "https://ndownloader.figshare.com/files/62102364"
df = pd.read_csv(url)
df = df.drop(columns=["Unnamed: 0"], errors="ignore")

(50000, 12)
   IRSD_quintile        Age smoking_status        BMI  diabetes  CKD  \
0              4  50.395265            non  28.166346         0    0
1              3  39.226761             ex  16.825992         0    0
2              5  55.489004            non  23.523419         0    0
3              4  51.910529            non  31.981932         0    0
4              1  47.091570             ex  25.351159         0    0

      HbA1c       eGFR         SBP  AF  cvd_event  cvd_time
0  4.317890  83.077560  118.668194   0          1  2.963423
1  4.700951  81.488401  123.719732   0          0  4.407252
2  3.669685  86.779230  126.650517   0          0  4.490739
3  4.486977  94.704093  113.889670   0          0  4.888965
4  4.315440  86.336256  125.912615   0          0  4.490326

In [10]:
df

,IRSD_quintile,Age,smoking_status,BMI,diabetes,CKD,HbA1c,eGFR,SBP,AF,cvd_event,cvd_time
0,4,50.395265,non,28.166346,0,0,4.317890,83.077560,118.668194,0,1,2.963423
1,3,39.226761,ex,16.825992,0,0,4.700951,81.488401,123.719732,0,0,4.407252
2,5,55.489004,non,23.523419,0,0,3.669685,86.779230,126.650517,0,0,4.490739
3,4,51.910529,non,31.981932,0,0,4.486977,94.704093,113.889670,0,0,4.888965
4,1,47.091570,ex,25.351159,0,0,4.315440,86.336256,125.912615,0,0,4.490326
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,5,71.010364,ex,29.624177,0,0,4.129969,81.458799,138.610531,0,0,5.155653
49996,3,45.876439,current,40.064313,0,0,4.463158,83.469956,146.908577,0,0,4.762595
49997,5,63.104057,non,27.452017,0,0,5.236286,81.756055,124.015135,0,0,5.054845
49998,3,37.623413,non,26.810036,0,0,5.963833,93.174396,124.650934,0,0,4.499002
49999,5,60.037958,non,16.632488,0,0,5.220203,78.077325,99.748959,0,0,3.927604

In [11]:
import pandas as pd
import zipfile
import requests
import io

url = "https://ndownloader.figshare.com/files/62130498"

r = requests.get(url)
r.raise_for_status()

zip_bytes = io.BytesIO(r.content)

with zipfile.ZipFile(zip_bytes) as z:
    file_list = z.namelist()
    print("Files inside zip:", file_list)

    dataframes = {}
    for file_name in file_list:
        if file_name.endswith(".csv"):
            with z.open(file_name) as f:
                df = pd.read_csv(f)

                df = df.drop(columns=["Unnamed: 0"], errors="ignore")

                dataframes[file_name] = df

patient_master = next(df for name, df in dataframes.items() if "MasterSummary" in name)
chronic_diseases = next(df for name, df in dataframes.items() if "ChronicDiseases" in name)
meas_and_path = next(df for name, df in dataframes.items() if "MeasAndPath" in name)

Files inside zip: ['Data002_PatientEMR_ChronicDiseases_RE.csv', 'Data002_PatientEMR_MasterSummary_RE.csv', 'Data002_PatientEMR_MeasAndPath_RE.csv']

In [12]:
patient_master

,Patient_ID,Age_At_2024,SMOKING_STATUS,IRSD_Quintile,CVD_Event,CVD_Time
0,269,57.40,non,4,1,2019-12
1,272,46.23,ex,3,0,2022-12
2,281,62.49,non,5,0,2022-12
3,296,58.91,non,4,0,2022-12
4,317,54.09,ex,1,0,2022-12
...,...,...,...,...,...,...
49995,7498500344,78.01,ex,5,0,2022-12
49996,7498800317,52.88,current,3,0,2022-12
49997,7499100296,70.10,non,5,0,2022-12
49998,7499400281,44.62,non,3,0,2022-12
49999,7499700272,67.04,non,5,0,2022-12

In [13]:
chronic_diseases

      Patient_ID      Category     Date
0     1338163469      Diabetes  2012-05
1      150591944      Diabetes  2014-12
2      545940569    ICD10: E11  2016-10
3     7134075944      Diabetes  2013-02
4     5959722392      Diabetes  2014-09
...          ...           ...      ...
4412   503030072      Diabetes  2012-09
4413    21547469    ICD10: E11  2012-06
4414  3405452861      ICD9:250  2014-01
4415    23335832  High glucose  2013-07
4416   129692144          T2DM  2016-02

[4417 rows x 3 columns]

In [14]:
meas_and_path

        Patient_ID               Value Description     Date           Unit
0        819127997   78.08730821809296        eGFR  2014-03  mL/min/1.73m²
1       3847713176   8.369465931621287       HbA1c  2015-02              %
2       3508304696  140.32800536506784         SBP  2016-09           mmHg
3       1685212472    69.9920201360966         GFR  2015-06  mL/min/1.73m²
4       1105805072               29.95         BMI  2015-04            NaN
...            ...                 ...         ...      ...            ...
209995   455199641   85.16622650022884        eGFR  2014-09  mL/min/1.73m²
209996  3314294201   3.988246165888609       HbA1c  2012-08              %
209997  5555517536   5.876639555542386         A1C  2015-11              %
209998  6964515641               156.4      Height  2012-03             cm
209999  2504069912  6.1067319841897545       HbA1c  2013-09              %

[210000 rows x 5 columns]