In [1]:
import numpy as np
import pandas as pd
import os
import random

import matplotlib.pyplot as plt
from scipy.stats import gaussian_kde
import seaborn as sns

RNG_SEED = 42

def seed_all(seed: int = RNG_SEED) -> None:
    os.environ["PYTHONHASHSEED"] = str(seed)
    random.seed(seed)
    np.random.seed(seed)

In [2]:
seed_all()


import pandas as pd
import zipfile
import requests
import io

url = "https://ndownloader.figshare.com/files/62130498"

r = requests.get(url)
r.raise_for_status()

zip_bytes = io.BytesIO(r.content)

with zipfile.ZipFile(zip_bytes) as z:
    file_list = z.namelist()
    print("Files inside zip:", file_list)

    dataframes = {}
    for file_name in file_list:
        if file_name.endswith(".csv"):
            with z.open(file_name) as f:
                df = pd.read_csv(f)

                df = df.drop(columns=["Unnamed: 0"], errors="ignore")

                dataframes[file_name] = df

Data002_Pat = next(df for name, df in dataframes.items() if "MasterSummary" in name)
Data002_Chro = next(df for name, df in dataframes.items() if "ChronicDiseases" in name)
Data002_Meas = next(df for name, df in dataframes.items() if "MeasAndPath" in name)

Files inside zip: ['Data002_PatientEMR_ChronicDiseases_RE.csv', 'Data002_PatientEMR_MasterSummary_RE.csv', 'Data002_PatientEMR_MeasAndPath_RE.csv']

In [3]:
Data002_Pat.head()

   Patient_ID  Age_At_2024 SMOKING_STATUS  IRSD_Quintile  CVD_Event CVD_Time
0         269        57.40            non              4          1  2019-12
1         272        46.23             ex              3          0  2022-12
2         281        62.49            non              5          0  2022-12
3         296        58.91            non              4          0  2022-12
4         317        54.09             ex              1          0  2022-12

In [4]:
Data002_Chro.head()

   Patient_ID    Category     Date
0  1338163469    Diabetes  2012-05
1   150591944    Diabetes  2014-12
2   545940569  ICD10: E11  2016-10
3  7134075944    Diabetes  2013-02
4  5959722392    Diabetes  2014-09

In [5]:
Data002_Meas.head()

   Patient_ID               Value Description     Date           Unit
0   819127997   78.08730821809296        eGFR  2014-03  mL/min/1.73m²
1  3847713176   8.369465931621287       HbA1c  2015-02              %
2  3508304696  140.32800536506784         SBP  2016-09           mmHg
3  1685212472    69.9920201360966         GFR  2015-06  mL/min/1.73m²
4  1105805072               29.95         BMI  2015-04            NaN